body {
  background-color: hsl(0, 0%, 98%);
  color: hsl(229, 6%, 66%);
  font-family: "Poppins", sans-serif;
}

h1,
h3 {
  font-weight: 200;
  text-align: center;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 15px;
  font-weight: 400;
}

footer {
  margin: 0 auto;
}

.bold {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
}

.header1 {
  font-size: 40px;
  margin-top: 75px;
  margin-bottom: 0px;
}

.header2 {
  font-size: 40px;
  margin-top: 0px;
}

.subtitle {
  margin: auto;
  max-width: 625px;
  min-width: 300px;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Card Styles for Desktop */

.card {
  height: 300px;
  width: 325px;
  background-color: hsl(0, 0%, 98%);
  border: solid 0.5px;
  border-color: hsl(0, 0%, 98%);
  border-radius: 0.5rem;
  border-top-width: 5px;
  box-shadow: -1px 5px 15px hsl(229, 6%, 66%);
  padding: 0 40px 0 30px;
  margin: 30px;
}

@media (min-width: 1300px) {
  .card-section {
    height: 750px;
  }

  .c1 {
    border-top-color: hsl(180, 62%, 55%);
    margin: 0 auto;
    position: relative;
    right: 425px;
    top: 225px;
  }

  .c2 {
    border-top-color: hsl(0, 78%, 62%);
    margin: 0 auto;
    position: relative;
    bottom: 250px;
  }

  .c3 {
    border-top-color: hsl(34, 97%, 64%);
    margin: 0 auto;
    position: relative;
    bottom: 225px;
  }

  .c4 {
    border-top-color: hsl(212, 86%, 64%);
    margin: 0 auto;
    position: relative;
    left: 425px;
    bottom: 690px;
  }
}

.supervisor-img {
  position: relative;
  margin-left: 270px;
  margin-top: 60px;
}

.team-builder-img {
  position: relative;
  margin-left: 270px;
  margin-top: 60px;
}

.karma-img {
  position: relative;
  margin-left: 270px;
  margin-top: 60px;
}

.calculator-img {
  position: relative;
  margin-left: 270px;
  margin-top: 60px;
}

/* MOBILE FORMATTING */

/* Card Styles on Mobile */

@media (max-width: 1299px) {
  .subtitle {
    font-size: 25px;
    margin: auto;
    margin-bottom: 100px;
    max-width: 500px;
    min-width: 100px;
    text-align: center;
  }

  .c1 {
    border-top-color: hsl(180, 62%, 55%);
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
  }

  .c2 {
    border-top-color: hsl(0, 78%, 62%);
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
  }

  .c3 {
    border-top-color: hsl(34, 97%, 64%);
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
  }

  .c4 {
    border-top-color: hsl(212, 86%, 64%);
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
  }
}
